In [103]:
##Assignment 2 Set A


##!pip install mlxtend
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori, association_rules

items =[[1, ['Bread', 'Milk']],
    [2, ['Bread', 'Diaper', 'Beer', 'Eggs']],
    [3, ['Milk', 'Diaper', 'Beer', 'Coke']],
    [4, ['Bread', 'Milk', 'Diaper', 'Beer']],
    [5, ['Bread', 'Milk', 'Diaper', 'Coke']]
]
df = pd.DataFrame(items,columns = ['TID','Items'])
df

   TID                        Items
0    1                [Bread, Milk]
1    2  [Bread, Diaper, Beer, Eggs]
2    3   [Milk, Diaper, Beer, Coke]
3    4  [Bread, Milk, Diaper, Beer]
4    5  [Bread, Milk, Diaper, Coke]

In [104]:
te = TransactionEncoder()
col=df['Items']
te_array = te.fit(col).transform(col)

In [105]:
df1 = pd.DataFrame(te_array, columns = te.columns_)
print("Transformed DataFrame:")
df1

Transformed DataFrame:

    Beer  Bread   Coke  Diaper   Eggs   Milk
0  False   True  False   False  False   True
1   True   True  False    True   True  False
2   True  False   True    True  False   True
3   True   True  False    True  False   True
4  False   True   True    True  False   True

In [106]:
frequent_itemsets = apriori(df_transformed, min_support=0.2, use_colnames=True)
print("\nFrequent Itemsets:")
print(frequent_itemsets)

Frequent Itemsets:
    support                     itemsets
0       0.6                       (Beer)
1       0.8                      (Bread)
2       0.4                       (Coke)
3       0.8                     (Diaper)
4       0.2                       (Eggs)
5       0.8                       (Milk)
6       0.4                (Bread, Beer)
7       0.2                 (Beer, Coke)
8       0.6               (Beer, Diaper)
9       0.2                 (Eggs, Beer)
10      0.4                 (Beer, Milk)
11      0.2                (Bread, Coke)
12      0.6              (Bread, Diaper)
13      0.2                (Bread, Eggs)
14      0.6                (Bread, Milk)
15      0.4               (Diaper, Coke)
16      0.4                 (Coke, Milk)
17      0.2               (Eggs, Diaper)
18      0.6               (Diaper, Milk)
19      0.4        (Bread, Beer, Diaper)
20      0.2          (Bread, Beer, Eggs)
21      0.2          (Bread, Beer, Milk)
22      0.2         (Beer, Diaper, Coke)
23      0.2           (Beer, Coke, Milk)
24      0.2         (Eggs, Beer, Diaper)
25      0.4         (Beer, Diaper, Milk)
26      0.2        (Bread, Diaper, Coke)
27      0.2          (Bread, Coke, Milk)
28      0.2        (Bread, Diaper, Eggs)
29      0.4        (Bread, Diaper, Milk)
30      0.4         (Diaper, Coke, Milk)
31      0.2  (Bread, Beer, Diaper, Eggs)
32      0.2  (Bread, Beer, Diaper, Milk)
33      0.2   (Beer, Diaper, Coke, Milk)
34      0.2  (Bread, Diaper, Coke, Milk)

In [107]:
rules = association_rules(freq_items, metric = 'support', min_threshold=0.05)

In [108]:
rules = rules.sort_values(['support','confidence'],ascending = [False,False])
print(rules)

    antecedents   consequents  antecedent support  consequent support  \
0           (I)           (e)                 1.0                 1.0
1           (e)           (I)                 1.0                 1.0
2           (I)           (m)                 1.0                 1.0
3           (m)           (I)                 1.0                 1.0
4           (I)           (s)                 1.0                 1.0
..          ...           ...                 ...                 ...
175         (e)  (t, I, s, m)                 1.0                 1.0
176         (s)  (t, e, m, I)                 1.0                 1.0
177         (I)  (t, e, s, m)                 1.0                 1.0
178         (t)  (e, s, m, I)                 1.0                 1.0
179         (m)  (t, e, s, I)                 1.0                 1.0

     support  confidence  lift  leverage  conviction  zhangs_metric
0        1.0         1.0   1.0       0.0         inf            0.0
1        1.0         1.0   1.0       0.0         inf            0.0
2        1.0         1.0   1.0       0.0         inf            0.0
3        1.0         1.0   1.0       0.0         inf            0.0
4        1.0         1.0   1.0       0.0         inf            0.0
..       ...         ...   ...       ...         ...            ...
175      1.0         1.0   1.0       0.0         inf            0.0
176      1.0         1.0   1.0       0.0         inf            0.0
177      1.0         1.0   1.0       0.0         inf            0.0
178      1.0         1.0   1.0       0.0         inf            0.0
179      1.0         1.0   1.0       0.0         inf            0.0

[180 rows x 10 columns]